<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.191.230:3307/mybatis?useUnicode=true&amp;serverTimezoneGMT%2B8"/>
        <property name="username" value="kismet"/>
        <property name="password" value="114514"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="mybatis-config.xml"/>
<!--        <property name="mapperLocations" value="classpath:com/kismet/dao/UserMapper.xml"/>-->
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <bean id="userMapper" class="com.kismet.dao.UserMapperImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="userMapperSupport" class="com.kismet.dao.UserMappetSupport">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
<!--        <property name="sqlSessionTemplate" ref="sqlSession"/>-->
    </bean>
</beans>